body {
    background-color: rgb(34,34,34);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box
}

.user-icon {
    margin-right: 5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 7px;
    word-spacing: -3px;
}

li{
    display: inline-block;
    margin-left: 20px;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
color: rgb(57, 255, 166, 0.744);
transition: 0.3s all;
}

#login-btn{
    border: 2px solid rgb(57, 255, 166, 0.744);
    padding: 10px;
    border-radius: 15px;
}

#login-btn:hover{
    background-color: rgb(57, 255, 166, 0.744);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#title:hover {
    color: rgba(57, 255, 166, 0.744);
    transition: color 0.75s ease;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: rgb(57, 255, 166, 0.744);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 40px;
}

img{
    width: 100%;
}

